/* .grid-container {
  background-color: antiquewhite;
  width: 70%;
  height: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.item--1 {
  background-color: aqua;
}
.item--2 {
  background-color: bisque;
}
.item--3 {
  background-color: blue;
}
.item--4 {
  background-color: blueviolet;
}
.item--5 {
  background-color: brown;
}
.item--6 {
  background-color: burlywood;
} */

.portfolio {
    background: #badcdc;
    box-shadow: inset 0px 661px 124px #ffffff;
}

.portfolio-1 {
    display: grid;
    grid-template-rows: 240px 500px;
    grid-template-columns: 1;
}

.portfolio-2 {
    display: grid;
    grid-template-rows: 500px 240px;
    grid-template-columns: 1;
}

.portfolio-3 {
    display: grid;
    grid-template-rows: 240px 500px;
    grid-template-columns: 1;
}

@media (max-width: 640px) {
    .portfolio-1 {
        grid-template-rows: 240px 240px;
    }

    .portfolio-2 {
        display: grid;
        grid-template-rows: 240px 240px;
        grid-template-columns: 1;
    }

    .portfolio-3 {
        grid-template-rows: 240px 240px;
    }
}

.story__shape {
    position: relative;
}

.story__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.story__shape:hover .story__caption {
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}